<!DOCTYPE html>
<html>
  <head>
    <title>Data </title>
  </head>
  <body>
     <form method = "POST">
         AuditorID:<input type = "number" name = "num1" />
         siteid:<input type = "number" name = "num2" />
         deptid:<input type = "number" name = "num3" />
         <input type = "submit"/>
      </form>
  <table>
    <tr>
        <th>auditorid</th>
      <th>deptid</th>
    </tr>
    {% for x1,x2 in z %}
    <tr>
        <th>{{x1}}</th>
        <th>{{x2}}</th>
    </tr>
      {%endfor%}
</table>
  </body>
  </html>
